/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    width: 100%;
    height: auto;
}
.App {
    font-family: 'Open Sans', sans-serif;
}
.mainWrapper {
    padding: 0 212px 60px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.page {
    display: flex;
    flex-direction: column;
    gap: 48px;
    overflow: hidden;
}
.palmBgRightTop {
    width: 353px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
.palmBgLeftTop {
    width: 353px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transform: scale(-1, 1);
}
h1 {
    font-size: 76px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    margin: 0 0 0px 0;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
h3 {
    font-weight: 600;
    font-size: 24px;
}

.retreat-wrapper {
    display: flex;
    justify-content: center;
}
.videoBlock {
    display: flex;
    flex-direction: column;
    gap: 48px;
    iframe {
        width: 100%;
        height: 700px;
    }
}
.video {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
@media screen and (max-width: 1280px) {
    .videoBlock iframe {
        height: 640px;
    }
    .palmBgLeftTop,
    .palmBgRightTop {
        width: 250px;
    }
}
@media screen and (max-width: 1024px) {
    .videoBlock iframe {
        height: 525px;
    }
    .mainWrapper {
        padding: 0 64px 60px;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 36px;
    }
    .videoBlock iframe {
        height: 410px;
    }
    .mainWrapper {
        padding: 0 32px 60px;
    }
    .palmBgLeftTop,
    .palmBgRightTop {
        width: 200px;
    }
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    .videoBlock iframe {
        height: 245px;
    }
    .palmBgLeftTop,
    .palmBgRightTop {
        width: 130px;
    }
}
.ownersBlock {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.owners {
    display: flex;
    gap: 48px;
    > div {
        width: calc(50% - 24px);
    }
}
.show {
    overflow: hidden;
    &::after {
        content: '';
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: #0000005a;
        z-index: 8888;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }
}